body {
    background-image: url("MotoGP.jpeg");
    background-repeat: no-repeat;
    background-size: 400px 150px; 
}

ul {
    color: white;
}

h1 {
    color: aqua;
    display: inline
}

.nav-item {
    display: inline-block;
    width: 22%;

}

.navbar-nav {
    background-color: rgba(245, 245, 250, 0.658);
    color: rgb(0, 0, 0);
    word-spacing: 15px;
}

.carousel-item{
    
}